<ngx-charts-line-chart
  *ngIf="loadGraphData"
  [view]="view"
  [scheme]="colorScheme"
  [schemeType]="colorSchemeType"
  [results]="loadGraphData"
  [autoScale]="autoScale"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  (select)="onSelect($event)">
</ngx-charts-line-chart>
<!--bindings={
  "ng-reflect-ng-for-of": "2018-12-01T21:11:00Z,2018-12-0"
  2018-12-01T21:15:00Z
}-->
