<div id="Restores">
  <div class="album">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">From Cluster</th>
        <th scope="col">Type</th>
        <th scope="col">Restored To</th>
        <th scope="col">Status</th>
        <th scope="col">Started</th>
        <th scope="col">Stopped</th>
        <!--<th scope="col">Duration</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let r of restores"
          class="bg-hover {{ getCssClass(r) }}">
        <td>{{ r.from_cluster.cluster_name }}</td>
        <td>{{ r.restore_type }}</td>
        <td>{{ r.restore_to_dttm | date: 'd-MMM-yy HH:mm:sss Z'}}</td>
        <td>{{ r.restore_status }}</td>
        <td>{{ r.start_dttm | date: 'd-MMM HH:mm:ss' }}</td>
        <td>{{ r.stop_dttm | date: 'd-MMM HH:mm:ss' }}</td>
        <!--<td></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
