<div class="container">
  <!--<div class="panel-body">-->
  <!--<div class="wizard">-->
  <!--<a [routerLink]="['/clusters', clusterDtl.clusterId, 'metrics']">Metrics</a><br>-->
  <!--<a [routerLink]="['/clusters', clusterDtl.clusterId, 'issues']">Issues</a><br>-->
  <!--<a [routerLink]="['/clusters', clusterDtl.clusterId, 'backups']">Backups</a><br>-->
  <!--</div>-->
  <!--</div>-->
  <tabset class="wizard">
    <!--(select)="onSelect($event)"-->
    <tab heading="Metrics" [routerLink]="['/clusters', clusterDtl.clusterId, 'metrics']" routerLinkActive="active">
      <div class="d-table w-100">
        <div class="d-table-row">
          <div class="d-table-cell" *ngFor="let s of servers">
            <mat-chip-list>
              <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                {{ s.server_name }}
              </mat-chip>
            </mat-chip-list>
            <app-server-metrics [serverId]="s.id"></app-server-metrics>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Backups" [routerLink]="['/clusters', clusterDtl.clusterId, 'backup']" routerLinkActive="active">
      <!--Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}-->
      <!--<app-cluster-backups [clusterId]="cluster.id"></app-cluster-backups>-->
    </tab>
    <tab heading="Restores" [routerLink]="['/clusters', clusterDtl.clusterId, 'restores']">
      <!--Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}-->
      <app-cluster-restores [clusterId]="clusterDtl.clusterId"></app-cluster-restores>
    </tab>
    <tab heading="Activities" [routerLink]="['/clusters', clusterDtl.clusterId, 'activities']" routerLinkActive="active">
      <div class="d-table w-100">
        <div class="d-table-row">
          <div class="d-table-cell" *ngFor="let s of servers">
            <mat-chip-list>
              <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                {{ s.server_name }}
              </mat-chip>
            </mat-chip-list>
            <app-server-activities [serverId]="s.id"></app-server-activities>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Issues" [routerLink]="['/clusters', clusterDtl.clusterId, 'issues']">
      <div class="d-table w-100">
        <div class="d-table-row">
          <div class="d-table-cell" *ngFor="let s of servers">
            <mat-chip-list>
              <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                {{ s.server_name }}
              </mat-chip>
            </mat-chip-list>
            <app-server-issues [serverId]="s.id"></app-server-issues>
          </div>
        </div>
      </div>
    </tab>
    <!--<tab heading="Contacts" (select)="onSelect($event)" [routerLink]="['/clusters',cluster.id,'Issues']">-->
    <tab heading="Contacts" [routerLink]="['/clusters', clusterDtl.clusterId, 'issues']">
      <!--<app-application-contacts [applicationId]="cluster.application.id"></app-application-contacts>-->
    </tab>
    <tab heading="Notes" [routerLink]="['/clusters', clusterDtl.clusterId, 'notes']">
      <!--<app-cluster-notes [clusterId]="cluster.id"></app-cluster-notes>-->
    </tab>
  </tabset>
</div>
