<ngx-charts-line-chart
  *ngIf="mountPointData"
  [view]="view"
  [scheme]="colorScheme"
  [schemeType]="colorSchemeType"
  [results]="mountPointData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  [roundDomains]="roundDomains"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [yScaleMax]="yScaleMax"
  [yScaleMin]="yScaleMin"
  [referenceLines]="referenceLines"
  [showRefLines]="showRefLines"
  [showRefLabels]="showRefLabels"
  [timeline]="timeline"
  (select)="onSelect($event)">
</ngx-charts-line-chart>
