<ngx-charts-line-chart
  *ngIf="mountPointGraphData"
  [view]="view"
  [scheme]="colorScheme"
  [schemeType]="colorSchemeType"
  [results]="mountPointGraphData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  [roundDomains]="roundDomains"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [yScaleMax]="yScaleMax"
  [yScaleMin]="yScaleMin"
  (select)="onSelect($event)">
</ngx-charts-line-chart>
