<div id="Activities">
  <div class="album">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Server</th>
        <th scope="col">Activity</th>
        <th scope="col">Status</th>
        <th scope="col">Start</th>
        <th scope="col">Stop</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sa of serverActivities"
          class="bg-hover {{ getCssClass(sa)}}">
        <td>{{ sa.server.server_name }}</td>
        <td>{{ sa.server_activity }}</td>
        <td>{{ sa.activity_status }}</td>
        <td>{{ sa.start_dttm }}</td>
        <td>{{ sa.stop_dttm }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
