<div style="margin: 1rem">
  <div style="color:dodgerblue; font-weight: bold">
    <label>Cluster filter: <input #clusterName/></label>
    <button (click)="search(clusterName.value)"
            style="background-color: dodgerblue; color:whitesmoke;">search
    </button>
  </div>
</div>

<table class="table">
  <thead>
  <tr class="bg-clusters-header">
    <th scope="col">Cluster</th>
    <th scope="col">DBMS</th>
    <th scope="col">Application</th>
    <th scope="col">CPU (GB)</th>
    <th scope="col">RAM (GB)</th>
    <th scope="col">DB GB</th>
    <th scope="col">Health</th>
    <th scope="col">R/W Port</th>
    <th scope="col">R/O Port</th>
  </tr>
  </thead>
  <tbody *ngFor="let c of clusters; index as idx; ">
  <tr class="bg-clusters bg-hover">
    <th>
      <button (click)="toggle[c.id]= !toggle[c.id]" class="btn btn-outline-secondary btn-xsm" data-toggle="collapse">+
      </button>
      <a style="margin-left: 1rem;"
         [routerLink]="['/clusters',c.id]"
         routerLinkActive="active">{{ c.cluster_name }}</a>
    </th>
    <td>{{ c.dbms_type }}</td>
    <td>{{ c.application.application_name }}</td>
    <td>{{ c.requested_cpu }}</td>
    <td>{{ c.requested_mem_gb }}</td>
    <td>{{ c.requested_db_gb }}</td>
    <td>>{{ c.cluster_health }}</td>
    <td>{{ c.read_write_port.port }}</td>
    <td>{{ c.read_only_port.port }}</td>
  </tr>
  <tr *ngIf="toggle[c.id]">
    <td colspan="100%" style="border-top: 0px none; padding: 0px;">
      <app-servers [clusterId]="c.id"></app-servers>
    </td>
  </tr>
  </tbody>
</table>
