<h3>Clusters</h3>
<div>
  <label>Cluster name:
    <input #clusterName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(clusterName.value); clusterName.value=''">
    add
  </button>
  <button (click)="search(clusterName.value)">
    search
  </button>
</div>

<ul class="clusters">
  <li *ngFor="let cluster of clusters">
    <a (click)="edit(cluster)">
      <span class="badge">{{ cluster.id || -1 }}</span>
      <span *ngIf="cluster!==editCluster">{{cluster.cluster_name}}</span>
      <input *ngIf="cluster===editCluster" [(ngModel)]="cluster.cluster_name"
             (blur)="update()" (keyup.enter)="update()">
    </a>
    <button class="delete" title="delete cluster"
            (click)="delete(cluster)">x
    </button>
  </li>
</ul>
