<div *ngIf="cluster">
  <h2>{{ cluster.cluster_name }}</h2>
  <div>
    <table class="table">
      <thead>
      <tr class="bg-clusters-header">
        <th scope="col">Cluster</th>
        <th scope="col">Env</th>
        <th scope="col">DBMS</th>
        <th scope="col">Application</th>
        <th scope="col">Health</th>
        <th scope="col">R/W Port</th>
        <th scope="col">R/O Port</th>
        <th scope="col">TLS</th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-clusters bg-hover">
        <th>{{ cluster.cluster_name }}</th>
        <td>{{ cluster.environment }}</td>
        <td>{{ cluster.dbms_type }}</td>
        <td>{{ cluster.application.application_name }}</td>
        <td class="{{ getFgClass(cluster.cluster_health) }}">{{ cluster.cluster_health }}</td>
        <td>{{ cluster.read_write_port.port }}</td>
        <td>{{ cluster.read_only_port.port }}</td>
        <td>{{ cluster.tls_enabled_sw }}</td>
      </tr>
      <tr>
        <td colspan="100%" style="padding-top:2rem;">
          <app-cluster-servers [clusterId]="clusterDtl.clusterId"></app-cluster-servers>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="panel-body">

      <nav mat-tab-nav-bar #tabs style="margin-bottom: .75rem">
        <a mat-tab-link [routerLink]="['/clusters', clusterDtl.clusterId, 'metrics']" routerLinkActive #metrics="routerLinkActive" [active]="metrics.isActive">Metrics</a>
        <a mat-tab-link [routerLink]="['/clusters', clusterDtl.clusterId, 'backups']" routerLinkActive #backups="routerLinkActive" [active]="backups.isActive">Backups</a>
        <a mat-tab-link [routerLink]="['/clusters', clusterDtl.clusterId, 'restores']" routerLinkActive #restores="routerLinkActive" [active]="restores.isActive">Restores</a>
        <a mat-tab-link [routerLink]="['/clusters', clusterDtl.clusterId, 'activities']" routerLinkActive #activities="routerLinkActive"
           [active]="activities.isActive">Activities</a>
        <a mat-tab-link [routerLink]="['/clusters', clusterDtl.clusterId, 'incidents']" routerLinkActive #incidents="routerLinkActive" [active]="incidents.isActive">Incidents</a>
        <a mat-tab-link [routerLink]="['/clusters', clusterDtl.clusterId, 'contacts']" routerLinkActive #contacts="routerLinkActive" [active]="contacts.isActive">Contacts</a>
        <a mat-tab-link [routerLink]="['/clusters', clusterDtl.clusterId, 'notes']" routerLinkActive #notes="routerLinkActive" [active]="notes.isActive">Notes</a>
      </nav>

      <div class="wizard tab-content">
        <div class="d-table w-100" *ngIf="clusterDtl.tab === 'metrics'">
          <div class="d-table-row">
            <div class="d-table-cell" *ngFor="let s of servers">
              <mat-chip-list>
                <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                  {{ s.server_name }}
                </mat-chip>
              </mat-chip-list>
              <app-server-metrics [serverId]="s.id"></app-server-metrics>
            </div>
          </div>
        </div>

        <app-cluster-backups [clusterId]="cluster.id" *ngIf="clusterDtl.tab === 'backups'"></app-cluster-backups>

        <app-cluster-restores [clusterId]="clusterDtl.clusterId" *ngIf="clusterDtl.tab === 'restores'"></app-cluster-restores>

        <div class="d-table w-100" *ngIf="clusterDtl.tab === 'activities'">
          <div class="d-table-row">
            <div class="d-table-cell" *ngFor="let s of servers">
              <mat-chip-list>
                <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                  {{ s.server_name }}
                </mat-chip>
              </mat-chip-list>
              <app-server-activities [serverId]="s.id"></app-server-activities>
            </div>
          </div>
        </div>

        <div class="d-table w-100" *ngIf="clusterDtl.tab === 'incidents'">
          <div class="d-table-row">
            <div class="d-table-cell" *ngFor="let s of servers">
              <mat-chip-list>
                <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                  {{ s.server_name }}
                </mat-chip>
              </mat-chip-list>
              <app-server-incidents [serverId]="s.id"></app-server-incidents>
            </div>
          </div>
        </div>

        <app-application-contacts [applicationId]="cluster.application.id" *ngIf="clusterDtl.tab === 'contacts'"></app-application-contacts>

        <app-cluster-notes [clusterId]="cluster.id" *ngIf="clusterDtl.tab === 'notes'"></app-cluster-notes>
      </div>
    </div>
  </div>
</div>
