<div *ngIf="cluster">
  <h2>{{ cluster.cluster_name }}</h2>
  <div>
    <table class="table">
      <thead>
      <tr class="bg-clusters-header">
        <th scope="col">Cluster{{ cluster_name }}</th>
        <th scope="col">DBMS</th>
        <th scope="col">Application</th>
        <th scope="col">CPU (GB)</th>
        <th scope="col">RAM (GB)</th>
        <th scope="col">DB (GB)</th>
        <th scope="col">Health</th>
        <th scope="col">R/W Port</th>
        <th scope="col">R/O Port</th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-clusters bg-hover">
        <th>{{ cluster.cluster_name }} {{ cluster.id }}</th>
        <td>{{ cluster.dbms_type }}</td>
        <td>{{ cluster.application.application_name }}</td>
        <td>{{ cluster.requested_cpu }}</td>
        <td>{{ cluster.requested_ram_gb }}</td>
        <td>{{ cluster.requested_db_gb }}</td>
        <td class="{{ getFgClass(cluster.cluster_health) }}">{{ cluster.cluster_health }}</td>
        <td>{{ cluster.read_write_port.port }}</td>
        <td>{{ cluster.read_only_port.port }}</td>
      </tr>
      <tr>
        <td colspan="100%" style="padding-top:2rem;">
          <app-cluster-servers [clusterId]="cluster.id"></app-cluster-servers>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="container">
      <tabset>
        <tab heading="Metrics" [active]="true" (select)="onSelect($event)">
          <div class="d-table w-100">
            <div class="d-table-row">
              <div class="d-table-cell" *ngFor="let s of servers">
                <mat-chip-list>
                  <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                    {{ s.server_name }}
                  </mat-chip>
                </mat-chip-list>
                <app-server-metrics [serverId]="s.id"></app-server-metrics>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Backups" (select)="onSelect($event)">
          <!--Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}-->
          <app-cluster-backups [clusterId]="cluster.id"></app-cluster-backups>
        </tab>
        <tab heading="Restores" (select)="onSelect($event)">
          <!--Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}-->
          <app-cluster-restores [clusterId]="cluster.id"></app-cluster-restores>
        </tab>
        <tab heading="Activities" (select)="onSelect($event)">
          <div class="d-table w-100">
            <div class="d-table-row">
              <div class="d-table-cell" *ngFor="let s of servers">
                <mat-chip-list>
                  <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                    {{ s.server_name }}
                  </mat-chip>
                </mat-chip-list>
                <app-server-activities [serverId]="s.id"></app-server-activities>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Issues" (select)="onSelect($event)">
          <div class="d-table w-100">
            <div class="d-table-row">
              <div class="d-table-cell" *ngFor="let s of servers">
                <mat-chip-list>
                  <mat-chip class="theme-blue" aria-setsize="1rem" selected style="margin:8px;">
                    {{ s.server_name }}
                  </mat-chip>
                </mat-chip-list>
                <app-server-issues [serverId]="s.id"></app-server-issues>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Contacts" (select)="onSelect($event)">
          <app-application-contacts [applicationId]="cluster.application.id"></app-application-contacts>
        </tab>
        <tab heading="Notes" (select)="onSelect($event)">
          <app-cluster-notes [clusterId]="cluster.id"></app-cluster-notes>
        </tab>
      </tabset>
    </div>
  </div>
</div>
