<div *ngIf="cluster">
  <h2>{{ cluster.cluster_name }}</h2>
  <div>
    <table class="table">
      <thead>
      <tr class="bg-clusters-header">
        <th scope="col">Cluster</th>
        <th scope="col">Env</th>
        <th scope="col">DBMS</th>
        <th scope="col">Application</th>
        <th scope="col">Health</th>
        <th scope="col">R/W Port</th>
        <th scope="col">R/O Port</th>
        <th scope="col">TLS</th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-clusters bg-hover">
        <th>{{ cluster.cluster_name }} {{ cluster.id }}</th>
        <td>{{ cluster.environment }}</td>
        <td>{{ cluster.dbms_type }}</td>
        <td>{{ cluster.application.application_name }}</td>
        <td class="{{ getFgClass(cluster.cluster_health) }}">{{ cluster.cluster_health }}</td>
        <td>{{ cluster.read_write_port.port }}</td>
        <td>{{ cluster.read_only_port.port }}</td>
        <td>{{ cluster.tls_enabled_sw }}</td>
      </tr>
      <tr>
        <td colspan="100%" style="padding-top:2rem;">
          <app-cluster-servers [clusterId]="clusterDtl.clusterId"></app-cluster-servers>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center mw-100">{{ tabSelectedName }} - {{ selectedTabChange }}</div>
    <!--<button [routerLink]="['/clusters',cluster.id,'Metrics']" routerLinkActive="active" class="mat-tab-nav-bar mat-tab-label">Metrics</button>-->
    <!--<button [routerLink]="['/clusters',cluster.id,'Backups']" routerLinkActive="active">Backups</button>-->
    <!--<button [routerLink]="['/clusters',cluster.id,'Restores']" routerLinkActive="active">Restores</button>-->
    <!--<button [routerLink]="['/clusters',cluster.id,'Activities']" routerLinkActive="active">Activities</button>-->
    <!--<button [routerLink]="['/clusters',cluster.id,'Issues']" routerLinkActive="active">Issues</button>-->
    <!--<button [routerLink]="['/clusters',cluster.id,'Contacts']" routerLinkActive="active">Contacts</button>-->
    <!--<button [routerLink]="['/clusters',cluster.id,'Notes']" routerLinkActive="active">Notes</button>-->


    <!--<nav mat-tab-nav-bar>-->
    <!--<a mat-tab-link-->
    <!--*ngFor="let link of links"-->
    <!--[routerLink]="['/clusters', cluster.id, link]"-->
    <!--routerLinkActive #rla="routerLinkActive">-->
    <!--&lt;!&ndash;[active]="activeLink == link">&ndash;&gt;-->
    <!--{{link}}-->
    <!--</a>-->
    <!--</nav>-->

    <!--<mat-tab-group>-->
    <!--<mat-tab label="Metrics" [routerLink]="['tab/Metrics']"  routerLinkActive>Metrics</mat-tab>-->
    <!--<mat-tab label="Issues" [routerLink]="['tab/Issues']"  routerLinkActive>Issues</mat-tab>-->
    <!--<mat-tab label="Backups" [routerLink]="['tab/Backups']"  routerLinkActive>Backups</mat-tab>-->
    <!--</mat-tab-group>-->
    <div class="panel-body">
      <div class="wizard">
        <a [routerLink]="['/clusters', clusterDtl.clusterId, 'metrics']">Metrics</a><br>
        <a [routerLink]="['/clusters', clusterDtl.clusterId, 'issues']">Issues</a><br>
        <a [routerLink]="['/clusters', clusterDtl.clusterId, 'backups']">Backups</a><br>
      </div>
    </div>
    <app-cluster-tabs [clusterDtl]="clusterDtl"></app-cluster-tabs>
  </div>
