<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/icons/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Rocket DBaaS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="collapse navbar-collapse navbar-nav mr-auto" id="navbarsExampleDefault">
    <li class="nav-item">
      <a class="nav-link" routerLink="/clusters" routerLinkActive="active">Overview</a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="bottom"
        title="Click on the Application->Cluster Name">
      <a class="nav-link disabled">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/poolservers" routerLinkActive="active">Pool Servers</a>
    </li>
    <!--========================================================================-->
    <li dropdown class="nav-item dropdown">
      <a dropdownToggle class="nav-link dropdown-toggle" aria-controls="dropdownCreate">Create ...</a>
      <ul id="dropdownCreate" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="basic-link">
        <li role="menuitem"><a class="dropdown-item" routerLink="/cluster/create">Create Cluster</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item disabled">Create Metric Threshold Triggers</a></li>
      </ul>
    </li>
    <!--========================================================================-->
    <div dropdown class="nav-item dropdown">
      <a dropdownToggle class="nav-link dropdown-toggle" aria-controls="dropdownAdmin">Admin ...</a>
      <div id="dropdownAdmin" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/issues">Issues</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/application">Application</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/applicationcontact">Application Contact</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/backup">Backups</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/cluster">Cluster</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/clusternote">Cluster Notes</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/contact">Contacts</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/poolserver">Pool Servers</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/restore">Restores</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/serveractivities">Server Activities</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/serverport">Server Ports</a>
        <a class="dropdown-item" href="http://localhost:8000/admin/dbaas/servers">Servers</a>
      </div>
    </div>
    <!--========================================================================-->
    <li class="nav-item dropdown">
      <a id="dropdownReports" class="nav-link dropdown-toggle" routerLink="" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">Reports ...</a>
      <div class="dropdown-menu" aria-labelledby="dropdownReports">
        <a class="dropdown-item disabled" routerLink="#">Cluster, Servers, & Contacts</a>
        <a class="dropdown-item disabled" routerLink="#">Outages</a>
        <a class="dropdown-item disabled" routerLink="#">FailOvers</a>
      </div>
    </li>
    <!--========================================================================-->
  </ul>
  <div dropdown class="nav-item dropdown">
    <a id="RefreshRateDD" dropdownToggle class="btn button btn-primary btn-sm dropdown-toggle" aria-controls="RefreshRateMenu">Refresh Rate</a>
    <div id="RefreshRateMenu" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
      <a class="dropdown-item" *ngFor="let r of refreshRateChoices" (click)="setRefreshRate(r.seconds)">{{r.displayRate}}</a>
    </div>
  </div>
</nav>
<div class="bg-issueCritical text-center font-weight-bold" type="danger">1 Cluster has been DOWN for 5.3 minutes</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
