<div class="tab-pane fade" id="Notes">
  <div class="album">
    <div class="row">
      <h4>Latest Notes</h4>
      <i class="material-icons">edit</i>
    </div>
    {% for note in cluster.clusternote_set.all %}
    <div class="card border-{{ note.note_color }}">
      <div class="card-header bg-{{ note.note_color }}">
        <span style="font-size: large; font-weight: bold">{{ note.title }}</span>
        <div></div>
        <span
          style="font-size: small; font-weight: bold"> {{ note.created_by }} - {{ note.prettyNoteCreateDate }}</span>
      </div>
      <div class="card-body">
        <p class="card-text">{{ note.note }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
