<div id="Notes">
  <div class="album">
    <!--<div class="row">-->
    <!--<i class="material-icons">edit</i>-->
    <!--</div>-->
    <div *ngFor="let n of notes"
         class="card {{ getCssClass(n) }}">
      <div class="card-header bg-{{ n.note_color }} row">
        <div class="col-md-11 lg font-weight-bold">{{ n.title }}</div>
        <div class="col-md-1 ml-auto badge badge-pill badge-dark">{{n.created_by}}</div>
      </div>
      <div class="card-body">
        <p class="card-text">{{ n.note }}</p>
      </div>
    </div>
  </div>
</div>
