<div class="row">
  <h3>Application</h3>&nbsp;&nbsp;&nbsp;
  <ngx-toggle id="newAppToggle"
              onColor="{{newAppToggleModel.onColor}}"
              onText="{{newAppToggleModel.onText}}"
              offColor="{{newAppToggleModel.offColor}}"
              offText="{{newAppToggleModel.offText}}"
              [disabled]="newAppToggleModel.disabled"
              [size]="newAppToggleModel.size"
              [(ngModel)]="newAppToggleModel.value"
              (click)="setNewAppToggle(newAppToggleModel.value)">
  </ngx-toggle>
</div>

<form [formGroup]="serverFormGroup">
  <!--For Testing: {{ serverFormGroup.value | json }}-->
  <div class="row">

    <mat-form-field *ngIf="newAppToggleSw === false">
      <mat-select placeholder="Application Name" formControlName="application_name" [errorStateMatcher]="matcher">
        <mat-option>Clear</mat-option>
        <mat-option *ngFor="let app of applicationChoices" [value]="app.application_name">{{app.application_name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.application_name.invalid">You must make a selection</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="newAppToggleSw === true">
      <input matInput placeholder="Application Name" formControlName="application_name" type="text">
      <mat-error *ngIf="f.application_name.invalid && f.application_name.touched">
        Name is too short or too long
      </mat-error>
    </mat-form-field>
  </div>

  <h3>Cluster</h3>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Cluster Name" formControlName="cluster_name" type="text">
      <mat-error *ngIf="f.cluster_name.invalid && f.cluster_name.touched">
        Name is too short or too long
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="DBMS Type" formControlName="dbms_type" [errorStateMatcher]="matcher">
        <mat-option>Clear</mat-option>
        <mat-option *ngFor="let dbmsChoice of dbmsTypeChoices" [value]="dbmsChoice">{{dbmsChoice}}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.dbms_type.invalid">You must make a selection</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Environment" formControlName="env_name" [errorStateMatcher]="matcher">
        <mat-option>Clear</mat-option>
        <mat-option *ngFor="let envChoice of environmentChoices" [value]="envChoice.env_name">{{envChoice.env_name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.env_name.invalid">You must make a selection</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Backup Retention Days" formControlName="backup_retention_days">
      <mat-error *ngIf="f.backup_retention_days.invalid">Days must be from 1-35</mat-error>
    </mat-form-field>

    <mat-checkbox
      class="mat-checkbox-layout"
      [checked]
      labelPosition="after" formControlName="tls_enabled_sw">
      TLS
    </mat-checkbox>
  </div>
  <h6>Requested Resources</h6>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="CPUs" formControlName="requested_cpu" type="number">
      <mat-error *ngIf="f.requested_cpu.invalid">CPUs must be from 1-14</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="RAM (GB)" formControlName="requested_ram_gb" type="number">
      <mat-error *ngIf="f.requested_ram_gb.invalid">RAM must be from 2-36 GiB</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="DB (GB)" formControlName="requested_db_gb" type="number">
      <mat-error *ngIf="f.requested_db_gb.invalid">DB must be from 0-1024 GiB</mat-error>
    </mat-form-field>
  </div>
  <br>
  <div>
    <div class="row">
      <h3 class="col">Servers</h3>
      <div class="col-md-auto"></div>
      <button mat-button class="mat-raised-button justify-content-end col col-lg-2" color="primary" (click)="openServerDialog()">
        Pick a Pool-Server
      </button>
    </div>

    <table class="table">
      <thead>
      <tr class="bg-clusters-header">
        <th scope="col">Env</th>
        <th scope="col">DataCenter</th>
        <th scope="col">Server Name</th>
        <th scope="col">Server IP</th>
        <th scope="col">CPU</th>
        <th scope="col">RAM (GB)</th>
        <th scope="col">DB GB</th>
        <th scope="col">Node Role</th>
      </tr>
      </thead>
      <tbody *ngFor="let s of servers">
      <tr *ngIf="s" class="bg-clusters bg-hover">
        <td>{{ s.environment.env_name }}</td>
        <td>{{ s.datacenter.datacenter }}</td>
        <td>{{ s.server_name }}</td>
        <td>{{ s.server_ip }}</td>
        <td>{{ s.cpu }}</td>
        <td>{{ s.ram_gb }}</td>
        <td>{{ s.db_gb }}</td>
        <td>{{ s.node_role }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <button mat-raised-button [disabled]="serverFormGroup.invalid || servers.length === 0" color="primary" (click)="addClusterToDB()">Just Add to DB</button>
  <button mat-raised-button [disabled]="serverFormGroup.invalid || servers.length === 0 || 1" color="info" (click)="createCluster()" disabled>Create a Cluster</button>
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissible]="dismissible" (onClosed)="onClosed(alert)"><span [innerHtml]="alert.msg"></span></alert>
  </div>
</form>
