<div *ngIf="metricsCpus">
  <div>
    <table class="table">
      <thead>
      <tr class="bg-server-header">
        <th scope="col">Created</th>
        <th scope="col">Idle %</th>
        <th scope="col">User %</th>
        <th scope="col">System %</th>
        <th scope="col">Wait %</th>
        <th scope="col">Steal %</th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-server bg-hover" *ngFor="let m of metricsCpus">
        <td>{{ m.created_dttm | date: 'd-MMM HH:mm:ss' }}</td>
        <td>{{ m.cpu_idle_pct }}</td>
        <td>{{ m.cpu_user_pct }}</td>
        <td>{{ m.cpu_system_pct }}</td>
        <td>{{ m.cpu_wait_pct }}</td>
        <td>{{ m.cpu_steal_pct }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
