<app-server-metrics-cpu [serverId]="serverId" style="height: 200px"></app-server-metrics-cpu>
<app-server-metrics-mount-points [serverId]="serverId" style="height: 200px"></app-server-metrics-mount-points>
<app-server-metrics-load [serverId]="serverId" style="height: 200px"></app-server-metrics-load>
<app-server-metrics-ping-db [serverId]="serverId" style="height: 200px"></app-server-metrics-ping-db>
<app-server-metrics-ping-server [serverId]="serverId" style="height: 200px"></app-server-metrics-ping-server>
